<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Movies</h1>
    <ul>
    <% movies.forEach( el => { %>
            <li class='movieItem' data-id='<%=el._id%>'>
                <span class='<%= el.watched === true ? 'watched' : 'not'%>'><%= el.movie %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> items in watch list.</h2>


    <!-- <form autocomplete="off"><input type="text" name="q" id="q" onKeyUp="showResults(this.value)" />
        <div id="result"></div>
    </form> -->

    <form action="/movies/createMovie" method='POST'>
        <input type="text" placeholder="Enter Movie Item" name='movieItem' class="search" autocomplete="off">
        <ul class="suggestions">
            <li></li>
        </ul>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/myMain.js"></script>
</body>
</html>